{% extends 'base.html' %}

{% block title %}
Страница о нас
{% endblock %}

{% block content %}
<div class="page-content">
  <h1 class="page__title">Информация об организации</h1>
<div class="info-title">
    Государственное областное казённое учреждение «Центр информационных технологий»
</div>
<div class="info-cardblock">
<div class="info-card">
  <div class="info-card__photo" style="background-size:cover;"><img style="border-radius: 5px;" src="{{ url_for('static', filename= 'image/director.jpg') }}" width="200" height="200">
  </div>
  <div class="info-card__text">
      <div class="info-card__fio1">
          Балакин			</div>
      <div class="info-card__fio2">
          Евгений Валерьевич			</div>
      <div class="info-card__dolzhnost">
          Директор ГОКУ "Центр информационных технологий"			</div>
  </div>
</div>
<div class="info-contacts">
  <div class="info-contacts__title">
      Контакты
  </div>
  <div class="info-contacts__phone">
    <img style="width: 18px; height: 18px" src="{{ url_for('static', filename= 'image/tel.png') }}">
      8(8162) 501-515 (Доб. 3900)		</div>
  <div class="info-contacts__email">
    <a style="font-size: 16px" href="mailto:cit@novreg.ru">
        <img style="width: 18px; height: 18px" src="{{ url_for('static', filename= 'image/mail.png') }}">
        evgeniy.balakin@novreg.ru </a>
  </div>

  
  
</div>
</div>
<br><br>
<div class="info-subtitle">
<p><span>Деятельность Учреждения:</span></p>
		<p><span>
			- Приобретение, принятие, хранение автоматизированных
			рабочих мест, базового программного обеспечения, серверного,
			коммутационного оборудования и периферийных устройств, оборудования, мебели,канцелярских принадлежностей и иного имущества и материалов, необходимых для обеспечения деятельности Учредителя, в том числе
			организация их ремонта и обслуживания;</span></p>
			<p><span>- Cопровождение процессов цифрового развития и цифровой
			трансформации отраслей экономики, социальной сферы и государственного
			управления Новгородской области;</span></p>
			<p><span>- Реализация и развитие на территории Новгородской области АПК «Безопасный город»;</span></p>
			<p><span>- Обеспечение внедрения и поддрежки функционирования на территории Новгородской области проекта Карта жителя;</span></p>
			<p><span>- Развитие и реализация на территории Новгородской области проекта "Цифровая Забота".</span></p>
</div>
<div class="info-docs">
<div class="info-subtitle">Документы</div>
          <div class="info-doc">
  <div class="info-doc__name">
      Положение о создании учреждения</div>
  <div class="info-doc__open">
      <a href="{{url_for('static', filename= 'files/Raspcit.pdf')}}" target="_blank">Открыть</a>
  </div>
      <a class="btn btn-white btn-animate" href="{{url_for('static', filename= 'files/Raspcit.pdf')}}" download="">Скачать</a>
  </div>
</div>
</div>
</div>
<br>
<br></div></div>
{%endblock%}