{% extends 'base.html' %}

{% block title %}
Страница о нас
{% endblock %}

{% block content %}
<div id="content" class="site-content site-content-inner" tag="inner">
		<div id="content-inside" class="container">
			<div class="row">

				<div class="col-lg-12">
					<div class="contentPage">
						<h1 class="contentPage-caption">
							Об организации						</h1>
						<div class="breadcrumb"><a href="http://niac.ru">Главная</a> » Об организации</div>						<main id="main" class="site-main" role="main">

<article id="post-2493" class="post-2493 page type-page status-publish hentry">
	<div class="entry-content1">
		<p><span style="color: #000000;"><i>Государственное областное казенное учреждение «Центр информационных технологий» основано 01 июня 2023 года.</i></span></p>
<p><a href="{{url_for('static', filename= 'files/Raspcit.pdf')}}">Распоряжение Правительства Новгородской области от 29.03.2023 № 151-рг "О создании государственного областного казенного учреждения
«Центр информационных технологий»</a></p>
<p><span><b> Деятельность Учреждения: </b></span></p>
		<p><span style="color: #000000">
			-Приобретение, принятие, хранение автоматизированных
			рабочих мест, базового программного обеспечения, серверного,
			коммутационного оборудования и периферийных устройств, оборудования, мебели,канцелярских принадлежностей и иного имущества и материалов, необходимых для обеспечения деятельности Учредителя, в том числе
			организация их ремонта и обслуживания;</span></p>
			<p><span style="color: #000000">- сопровождение процессов цифрового развития и цифровой
			трансформации отраслей экономики, социальной сферыи государственного
			управления Новгородской области;</span></p>
			<p><span style="color: #000000">- Реализация и развитие на территории Новгородской области АПК «Безопасный город»;</span></p>
			<p><span style="color: #000000">- Обеспечение внедрения и поддрежки функционирования на территории Новгородской области проекта Карта жителя;</span></p>
			<p><span style="color: #000000">- Развитие и реализация на территории Новгородской области проекта "Цифровая Забота";</span></p>
		
<hr>
<p><span style="color: #000000;"><b>Руководство</b></span></p>
<p><span style="color: #000000;"><b><img class="" title="Фото Балакин.jpg" src="{{ url_for('static', filename= 'image/director.jpg') }}" alt="Фото Балакин.jpg" width="310" height="310" align="left"></b></span></p>
<p><span  style="margin-left:30px">Балакин Евгений Валерьевич</span></p>
<p><span style="margin-left:30px">Директор ГОКУ ЦИТ</span></p>
	</div><!-- .entry-content -->

	
</article><!-- #post-## -->
						</main>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}