{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="page-content">
		<h1 class="page__title">Контактные данные</h1>

<div class="contacts-page">
	<div class="contacts-page__cols">
		<div class="contacts-page__address">
        			<h6 class="contacts-page__subtitle">Адрес</h6>
  			<p class="contacts-page__text">
  				 Великий Новгород, Новгородская область, ул. Черняховского , д.74  			</p>
            			<h6 class="contacts-page__subtitle">Адрес электронной почты</h6>
			<p class="contacts-page__text">
          <a href="mailto:kanc@novreg.ru">cit@novreg.ru</a>
			</p>
      		</div>
		<div class="contacts-page__map">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A16f095d7a939e52851a88f18c38ca3ea953cf936f27159c2e7e31156d8f24f80&amp;width=592&amp;height=286&amp;lang=ru_RU&amp;scroll=true"></script>
	<div class="contacts-page__phones">

		<div class="contacts-page__phones-left">
                          <h6 class="contacts-page__subtitle">Государственное областное казенное учреждение "Центр информационных технологий"</h6>
<p class="contacts-page__text">
	 +7 (8162) 70-05-15
</p>
<h6 class="contacts-page__subtitle">Режим работы:</h6>
<p class="contacts-page__text">
	 8.30 – 17.30
</p>
<h6 class="contacts-page__subtitle" style="text-align: left;">Перерыв: </h6>
<p class="contacts-page__text">
	 13.00 – 14.00
</p>                    <hr>

<h6 class="contacts-page__subtitle">Отдел проектов ГОКУ "ЦИТ":</h6>
<p class="contacts-page__text">
	 8 (8162) 70-05-15 (доб. 3905, 3906)
</p>
 <br>                    <hr>
</div>
</div>
</div>
{%endblock%}