{% extends 'base.html' %}

{% block title %}
противодействие корупции
{% endblock %}

{% block content %}
<div class="page-content">
		<h1 class="page__title">Противодействие коррупции</h1>
     <br>
<p>
    <a href="/corup1">Нормативные правовые и иные акты в сфере противодействия коррупции</a>
</p>
<p>
    <a href ="/corup2"> Антикоррупционная экспертиза </a>
</p>
    <p>
    <a href ="/corup3"> Методические материалы </a>
</p>
    <p>
    <a href ="/corup4"> Формы документов, связанных с противодействием коррупции, для заполнения </a>
</p>
   <p>
    <a href ="/corup5"> Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера </a>
</p>

 <br></div>
{%endblock%}