{% extends 'base.html' %}

{% block title %}
противодействие корупции
{% endblock %}

{% block content %}
<div class="page-content">
		<h1 class="page__title">Формы документов, связанных с противодействием коррупции, для заполнения</h1>
    <div class="breadcrumb"><a href="/corup">Противодействие коррупции  </a> &nbsp » Формы документов, связанных с противодействием коррупции, для заполнения </div>
     <br>
<div class="entry-content">
	<table class="table table-download">
        <tbody>
<tr style="height: 32px;">
<td style="height: 32px; width: 449.683px;">Уведомление о получении подарка</td>
<td style="height: 32px; width: 117.317px;"><a class="btn btn-white btn-animate" href="{{ url_for('static', filename= 'files/2022.06.29_uvedomlenie_o_poluchenii_podarka.docx')}}">Скачать</a></td>
</tr>

<tr style="height: 32px;">
<td style="height: 32px; width: 449.683px;">Заявление о выкупе подарка</td>
<td style="height: 32px; width: 117.317px;"><a class="btn btn-white btn-animate" href="{{ url_for('static', filename= 'files/2022.06.29_zaiavlenie_o_vykupe_podarka.docx')}}">Скачать</a></td>
</tr>

<tr style="height: 32px;">
<td style="height: 32px; width: 449.683px;">Уведомление о возникшем конфликте интересов или о возможности его возникновения</td>
<td style="height: 32px; width: 117.317px;"><a class="btn btn-white btn-animate" href="{{ url_for('static', filename= 'files/forms_corruption__o_voznikshem_konflikte_interesov.doc')}}">Скачать</a></td>
</tr>

<tr style="height: 32px;">
<td style="height: 32px; width: 449.683px;">Обращение гражданина (представителя организации) по фактам коррупционных правонарушений</td>
<td style="height: 32px; width: 117.317px;"><a class="btn btn-white btn-animate" href="{{ url_for('static', filename= 'files/forms_corruption_obraschenie_grazhdanina.doc')}}">Скачать</a></td>
</tr>


<tr style="height: 32px;">
<td style="height: 32px; width: 449.683px;">Справка о доходах, расходах, об имуществе и обязательствах имущественного характера</td>
<td style="height: 32px; width: 117.317px;"><a class="btn btn-white btn-animate" href="{{ url_for('static', filename= 'files/2022.06.21_forma_spravki_o_dokhodakh_raskhodakh_imushchestve_i_obiazatelstvakh_imushchestvennogo_kharaktera.rtf')}}">Скачать</a></td>
</tr>

<tr style="height: 32px;">
<td style="height: 32px; width: 449.683px;">Уведомление представителя нанимателя (работодателя) о фактах обращения в целях склонения служащего (работника) к совершению коррупционных правонарушений</td>
<td style="height: 32px; width: 117.317px;"><a class="btn btn-white btn-animate" href="{{ url_for('static', filename= 'files/forms_corruption_uvedomlenie-predstavitelya-nanimatelya-rabotodatelya-o-faktah-obrascheniya-v-celyah-skloneniya-sluzhaschego-rabotnika-k-soversheniyu-korrupcionnyh-pravonarusheniy.doc')}}">Скачать</a></td>
</tr>

<tr style="height: 32px;">
<td style="height: 32px; width: 449.683px;">Уведомление о ставшей известной работнику информации о случаях совершения коррупционных правонарушений другими работниками</td>
<td style="height: 32px; width: 117.317px;"><a class="btn btn-white btn-animate" href="{{ url_for('static', filename= 'files/Uvedomlenie_o_stavshej_izvestnoj_rabotniku_informacii_o_sluchayah_soversheniya_korrupcionnyh_pravonarushenij_drugimi_rabotnikami.doc')}}">Скачать</a></td>
</tr>

<tr>
<td style="width: 449.683px;">Специальное программное обеспечение&nbsp;«Справки БК»</td>
<td style="width: 117.317px;"><a class="btn btn-white btn-animate" href="http://www.kremlin.ru/structure/additional/12" target="_blank" rel="noopener">Скачать</a></td>
</tr>
</tbody>
    </table>
</div>
{%endblock%}