{% extends 'base.html' %}

{% block title %}
противодействие корупции
{% endblock %}

{% block content %}
<div class="page-content">
		<h1 class="page__title">Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера</h1>
    <div class="breadcrumb"><a href="/corup">Противодействие коррупции  </a> &nbsp » Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера </div>
     <br>
<div class="entry-content">
	<table class="table table-download">
    <tbody>

<tr style="height: 32px;">
<td style="height: 32px; width: 449.683px;">Указ президента Российской Федерации «Об особенностях исполнения обязанностей, соблюдения ограничений и запретов в области противодействия коррупции некоторыми категориями граждан в период проведения специальной военной операции»</td>
<td style="height: 32px; width: 117.317px;"><a class="btn btn-white btn-animate" href="http://pravo.gov.ru/proxy/ips/?docbody=&amp;link_id=0&amp;nd=603637722">Открыть</a></td>
</tr>

<tr style="height: 32px;">
<td style="height: 32px; width: 449.683px;">Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера на сайте министерства цифрового развития и информационно-коммуникационных технологий Новгородской области</td>
<td style="height: 32px; width: 117.317px;"><a class="btn btn-white btn-animate" href="https://mindigital.novreg.ru/activity/protivodeystvie-korruptsii/svedeniya-o-dokhodakh-raskhodakh-ob-imushchestve-i-obyazatelstvakh-imushchestvennogo-kharaktera/">Открыть</a></td>
</tr>

</tbody>
    </table>
</div>
{%endblock%}