{% extends 'base.html' %}

{% block title %}
противодействие корупции
{% endblock %}

{% block content %}
<div class="page-content">
		<h1 class="page__title">Нормативные правовые и иные акты в сфере противодействия коррупции</h1>
   <div class="breadcrumb"><a href="/corup">Противодействие коррупции </a> &nbsp » Нормативные правовые и иные акты в сфере противодействия коррупции</div>
     <br>
<h1 class="page__title">Нормативные правовые акты Новгородской области</h1>
<p><a href="https://www.novreg.ru/documentation/detail.php?ID=107444" target="_blank">Приказ Администрации Губернатора Новгородской области от 29.01.2019 № 33 «Об утверждении Плана противодействия коррупции в Администрации Губернатора Новгородской области на 2019-2020 годы»</a></p>
<p>
 <a href="https://www.novreg.ru/documentation/detail.php?ID=107170" target="_blank">Указ Губернатора Новгородской области от 05.07.2018 N 279 «Об утверждении Плана противодействия коррупции в органах исполнительной власти Новгородской области на 2018 — 2020 годы»</a>
</p>
<p>
 <a href="https://www.novreg.ru/documentation/detail.php?ID=104091" target="_blank">Распоряжение Правительства Новгородской области от 10.07.2018 № 187-рг «О мерах по реализации постановления Правительства Российской Федерации от 5 марта 2018 года № 228 «О реестре лиц, уволенных в связи с утратой доверия»</a>
</p>
<p>
 <a href="https://www.novreg.ru/documentation/detail.php?ID=104092" target="_blank">Постановление Новгородской областной Думы от 30.01.2013 N 443-5 ОД «Об утверждении Положения о представлении лицом, поступающим на должность руководителя областного государственного учреждения, а также руководителем областного государственного учреждения сведений о доходах, об имуществе и обязательствах имущественного характера»</a>
</p>
<p>
 <a href="https://www.novreg.ru/documentation/detail.php?ID=88600" target="_blank">Областной закон Новгородской области от 31.08.2009 № 595-ОЗ «О реализации федеральных законов о противодействии коррупции на территории Новгородской области»</a>
</p>
<p>
 <a href="https://www.novreg.ru/documentation/detail.php?ID=88601" target="_blank">Постановление Новгородской областной Думы от 22.07.2009 № 1105-ОД «Об утверждении Перечня должностей государственной гражданской службы Новгородской области, при замещении которых государственные гражданские служащие Новгородской области обязаны представлять сведения о своих доходах, об имуществе и обязательствах имущественного характера, а также сведения о доходах, об имуществе и обязательствах имущественного характера своих супруги (супруга) и несовершеннолетних детей»</a>
</p>
<p>
 <a href="https://www.novreg.ru/documentation/detail.php?ID=88603" target="_blank">Постановление Новгородской областной Думы от 16.12.2009 № 1221-ОД «Об утверждении Положения о проверке достоверности и полноты сведений, представляемых гражданами, претендующими на замещение должностей государственной гражданской службы Новгородской области, и государственными гражданскими служащими Новгородской области, и соблюдения государственными гражданскими служащими Новгородской области требований к служебному поведению»</a>
</p>

<p>
 <a href="https://www.novreg.ru/documentation/detail.php?ID=88608" target="_blank">Постановление Новгородской областной Думы от 27.02.2013 № 474-5 ОД «Об утверждении Положения о проверке достоверности и полноты сведений, представляемых лицами, поступающими на должность руководителя областного государственного учреждения, и руководителями областных государственных учреждений»</a>
</p>
<p>
 <a href="https://www.novreg.ru/documentation/detail.php?ID=88610" target="_blank">Постановление Администрации Новгородской области от 02.09.2010 № 408 «Об утверждении Порядка уведомления представителя нанимателя о фактах обращения в целях склонения государственных гражданских служащих, замещающих должности государственной гражданской службы в структурных подразделениях по обеспечению деятельности Правительства Новгородской области и Губернатора Новгородской области, и государственных гражданских служащих Новгородской области, в отношении которых Губернатор Новгородской области является представителем нанимателя, к совершению коррупционных правонарушений и организации проверки этих сведений»</a>
</p>
<p>
 <a href="https://www.novreg.ru/documentation/detail.php?ID=88615" target="_blank">Указ Губернатора Новгородской области от 16.04.2014 № 131 «О порядке сообщения лицами, замещающими государственные должности Новгородской области, должности государственной гражданской службы в Правительстве Новгородской области, о получении подарка в связи с их должностным положением или исполнением ими служебных (должностных) обязанностей, сдачи и оценки подарка, реализации (выкупа) и зачисления средств, вырученных от его реализации»</a>
</p></div>
{%endblock%}