{% extends 'base.html' %}

{% block title %}
Добавление записей
{% endblock %}

<div class="page">{% block content %}
<div class="headwords"><h1>Добавление записей</h1></div>
    <form method="post" class = "form-control" enctype="multipart/form-data">
        <input type = "text" name = "title" placeholder="Введите название" class = "form-control"> <br>
        <textarea name = "intro" id="intro" placeholder="Введите интро" class = "form-control"></textarea><br>
        <textarea name = "text" id="text" placeholder="Введите текст" class = "form-control"></textarea><br>
        <form action="/" enctype="multipart/form-data" method="post">
            <input type="file" name="pic" />
            <input class="btn btn-success" type = "submit"/>
            </form>
    </form>
{% endblock %}</div>