{% extends 'base.html' %}

{% block title %}
Проекты
{% endblock %}

{% block content %}
<div class="headwords"><h1>Нормативно-правовые акты ГОКУ ЦИТ</h1></div>

<div id="content" class="site-content site-content-inner" tag="inner">
	<div id="content-inside" class="container">
		<div class="row">
			<div class="col-lg-3">
		<section class="sidebar">
			<div class="page__menu">
			<div class="page-menu">
			  <div class="page-menu__links">
				<a href="{{url_for('KJNO')}}">Карта жителя Новгородской области</a>
				<a href="{{url_for('APKBG')}}">АПК "Безопасный город"</a>
				<a href="/digital_zabota">Цифровая забота</a>
				<a href="/digital_tech">Цифровые технологии</a>
			  </div>
			</div>
			</div>
			</section> 
		</div>

				<div class="col-lg-9">
					<div class="contentPage">
						<div class="breadcrumb"><a href="/">Главная</a> » Проект "Цифровая забота"</div>						<main id="main" class="site-main" role="main">

<article id="post-264" class="post-264 page type-page status-publish hentry category-max_mega_menu_5">
	<div class="entry-content">


<table class="table table-download">
<tbody>
<tr >
<td>Паспорт приоритетного регионального проекта "Цифровая забота"</td>
<td ><a class="btn btn-white btn-animate"  href="{{ url_for('static', filename= 'files/digital_zabota.pdf') }}" download>Скачать</a>

</td>
</tr>
</tbody>
</table>

						</main>
					</div>
				</div>
			</div>
		</div>

{% endblock %}