{% extends 'base.html' %}

{% block title %}
Новости
{% endblock %}

{% block content %}
{% for el in posts%}
<div class="press-news" style="margin-top: 15px">
	<a class="press-news__item news-card" href="/posts/{{el.id}}">
			<img class="news-card__image" src="/{{el.id}}" alt="{{el.intro}}" title="{{el.intro}}">
            <div class="news-card__text-block">
                <span class="news-card__date">{{el.timepost}}</span>
                <div class="news-card__title">{{el.intro}}</div>
                <div class="news-card__excerpt">{{el.text}}</div></div>
        </a> 
    </div>
   
    {%endfor%}{%endblock%}



