{% extends 'base.html' %}

{% block title %}
О регионе
{% endblock %}

{% block content %}
<div class="page-content">
		<h1 class="page__title">Общая информация</h1>
     <div class="page__content about-page">
        <h4 class="title-h4 about-page__title">
            Новгородская область — субъект Российской Федерации. Расположена на
            северо-западе европейской части страны. Область входит в состав
            Северо-Западного федерального округа.
        </h4>
        <div class="divider"></div>
        <div class="about-page__columns-wrap">
            <p class="font-16">
              Новгородская область образована Указом Президиума Верховного
              Совета СССР 5 июля 1944 года.. Новгородская область расположена на
              северо-западе Русской (Восточно-Европейской) равнины, в пределах
              Приильменской низменности и северных отрогов Валдайской
              возвышенности в умеренных широтах северного полушария, в лесной
              зоне. Область простирается с запада на восток на 385 км, а с
              севера на юг - на 250 км, граничит с Псковской, Тверской,
              Ленинградской и Вологодской областями. Территория Новгородской
              области 55,3 тыс. кв. км. Благодаря удобному географическому
              положению области, она имеет хорошую связь с Москвой и
              Санкт-Петербургом. По ее территории проходят электрифицированная
              железная дорога и шоссе Санкт-Петербург - Москва. Основным видом
              транспорта является автомобильный. Через территорию региона
              проходит автомагистраль Скандинавия - Центр. Основные направления
              грузопотоков - Финляндия, Германия, Швеция. Железнодорожные
              магистрали, проходящие по территории Новгородской области,
              связывают ее с другими регионами России, государствами СНГ,
              Балтии, Европы и Скандинавии. Водные транспортные пути области
              открыты для выхода судов в Балтийское и Белое моря.
            </p>
            <img style="width:320px; height:232px" src="{{ url_for('static', filename= 'image/region.jpg') }}">

        </div>
        <h4 class="title-h4 about-page__title">
            Демографическая ситуация в Новгородской области в 2017 году (по
            данным Новгородстата)
        </h4>
        <div class="divider"></div>
        <div class="about-page__columns-wrap">
            <p class="font-16">
              Численность постоянного населения Новгородской области на 1 января
              2018 года составила 606,5 тыс. человек, в т. ч. городского
              населения – 430,5 тыс. человек (71,0% от общей численности),
              сельского – 176 тыс. человек (29,0%). За 2017 год население
              области сократилось на 6,0 тыс. человек или на 1,0%. В 2017 году в
              области родилось 6234 человека, на 970 человек меньше, чем в 2016
              году. Коэффициент рождаемости составил 10,2 родившихся на 1000
              жителей области. Доля вторых и последующих детей в общем числе
              родившихся в 2017 году увеличилась до 64,3%, это наибольшее
              значение показателя за последние 28 лет. В 2017 году в области
              умерло 10435 человек, на 301 человека меньше, чем в 2016 году.
              Коэффициент смертности в 2017 году снизился до 17,1 умерших –
              минимального значения за последние 20 лет. В 2017 году
              зарегистрировали брак 4465 пар, 97,8% к 2016 году, расторгли брак
              2806 пар, 100,6% к 2016 году. В 2017 году миграционная убыль
              населения в области составила 1871 человек.
            </p>
            <div class="statistics">
              <p class="font-12">
                Численность в Новгородской области<br><span class="font-18">586,1 тысячи человек</span>
              </p>
              <p class="font-12">
                Убыль населения в регионе в 2019-2021 гг<br><span class="font-18">2,36%</span>
              </p>
              <div class="statistics__bottom">
                <a href="https://ria.ru/20220404/demografiya-1781577133.html?in=t" class="font-12">Источник: РИА «Рейтинг»</a><span class="font-12">1 января 2022 года</span>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}