{% extends 'base.html' %}

{% block title %}
Вакансии ГОКУ "ЦИТ"
{% endblock %}

{% block content %}

<h1 class="page-title">Специалист отдела проектов</h1>

<div id="print-vacancy" class="vacancy-single-page">
    <div class="content-wrap">
        <div class="salary">35000 - 38000 руб.</div>
        </div>

        <div class="grid">
            <div class="item">
                <div class="title">Требования</div>
                <div class="text">Системное мышление,
Ведение деловой переписки (составление и отправка писем, подготовка ответов на входящие запросы),
Ответственность, инициативность, коммуникабельность,
Уверенный пользователь MS Office</div>
            </div>
            <div class="item">
                <div class="title">Обязанности</div>
                <div class="text">Администрирование проектной деятельности;
Проекты регионального и федерального уровней;
Организация взаимодействия участников проекта;
Подготовка иформационных/презентационных материалов</div>
            </div>
            <div class="item">
                <div class="title">Условия</div>
                <div class="text">Официальное трудоустройство
Оплачиваемые отпуска и больничные
Офис в центре Великого Новгорода
5ти дневная рабочая неделя</div>
            </div>
            <div class="item">
                <div class="title">Контакты</div>
                <div class="text">Тел. 89211998100</div>
                <div class = "text">e-mail: evgeniy.balakin@novreg.ru</div>
            </div>
        </div>
        </div>
    </div>
</div>

{%endblock%}